
@model IEnumerable<HappyDaysOne.Models.Activity>
    @{ 
        ViewBag.Title = "ClubData";
    }
<h2>ClubData</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameOfActivity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgeGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityCourseStartDate)
        </th>
        <th>
            Instructor
        </th>
    </tr>
</table>