@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1 Prospect Meadows<br />
    Rathfarnham, Dublin 16<br />
    <abbr title="Phone">P:</abbr>
    087 1234512
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">HappyDays@KidsActivities.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">HappyDays@KidsActivities.com</a>
</address>